:root {
	--liesBackGround: white;
	--codeBackGround: black;
	--buttonWidth: 14%;
	--buttonHeight: 12%;
	--buttonOffset: 28%;
	--buttonOffsetX: 28%;
	--clickedShiftY: 66%;
	--clickedShiftX: 45%;
	--linksLeftOffset: 20%;
	--staticCornerVW: 20vh;
	--staticCornerButtonOffset: 2.25vh;
	font-size: 4.25vh;
}

@media (max-aspect-ratio : 1/1) {
	:root {
	--linksLeftOffset: 5%;
	font-size: 2.8vh;
	--clickedShiftX: 10%;
	--buttonWidth: 38%;
	}
}

* {
  padding: 0;
  margin: 0;
}

html, body {
	overflow: hidden;
	color: var(--liesBackGround);
}

a {
	text-decoration:none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

button {
	border-radius: 8em;
	border: none;
	z-index: 4;
}

button:focus {
outline: none;
}

.openDrawers {
	position: fixed;
	width: var(--buttonWidth);
	height: var(--buttonHeight);
	font-size: 7.5vh;
	transition: left 0.5s ease-in, top 0.5s ease-in, color 0.07s, background-color 0.07s;
}

.liesButton {
	background-color: var(--liesBackGround);
	color: var(--codeBackGround);
	font-family: cursive;
	top: calc(
		var(--buttonOffset) - calc(
			var(--buttonHeight) / 2));
	left: calc(
		var(--buttonOffset) - calc(
			var(--buttonWidth) / 2));
}

.liesButton:hover {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
}

.liesButton:focus {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
}

.liesButton.liesShow {
	top: calc(var(--clickedShiftY) +
		calc(
		var(--buttonOffset) - calc(
			var(--buttonHeight) / 2)));
	left: calc(var(--clickedShiftX) +
		calc(
		var(--buttonOffset) - calc(
			var(--buttonWidth) / 2)));
	background-color: transparent;
}

.liesButton.liesShow:hover {
	color: var(--codeBackGround);
}

.liesButton.liesShow:focus {
	color: var(--codeBackGround);
}

.liesButton.codeShow {
	top: calc(
		calc(
			var(--buttonOffset) -
			calc(var(--buttonHeight) / 2)
			)
			- var(--clickedShiftY)
			);
	left: calc(
		calc(
			var(--buttonOffset) - calc(
				var(--buttonWidth) / 2)
				)
		- var(--clickedShiftX)
		);
	background-color: transparent;
}

.codeButton {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
	font-family: 'Geo', monospace;
	top: calc(100% -
		calc(
			var(--buttonOffset) + calc(
				var(--buttonHeight) / 2
			)
		)
	);
	left: calc(100% -
		calc(
			var(--buttonOffset) + calc(
				var(--buttonWidth) / 2
			)
		)
	);
}

.codeButton:focus {
	color: var(--codeBackGround);
	background-color: var(--liesBackGround);
}

.codeButton:hover {
	color: var(--codeBackGround);
	background-color: var(--liesBackGround);
}

.codeButton.codeShow{
	top: calc(
		calc(100% -
			calc(
				var(--buttonOffset) + calc(
					var(--buttonHeight) / 2
				)
			)
		)
	- var(--clickedShiftY)
	);
	left:
	calc(
		calc(100% -
			calc(
				var(--buttonOffset) + calc(
					var(--buttonWidth) / 2
		)
	)
	- var(--clickedShiftX)	)
	);
	background-color: transparent;
}

.codeButton.liesShow {
	top:
		calc(var(--clickedShiftY) +
			calc(100% -
				calc(
					var(--buttonOffset) + calc(
						var(--buttonHeight) / 2
						)
					)
				)
			);
	left:
		calc(var(--clickedShiftX) +
			calc(100% -
				calc(
					var(--buttonOffset) + calc(
						var(--buttonWidth) / 2
						)
					)
				)
			);
	background-color: transparent;
}

.codeButton.codeShow:hover {
	color: var(--liesBackGround);
}

.codeButton.codeShow:focus {
	color: var(--liesBackGround);
}



#shapeContainer {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	color: var(--codeBackGround);
	background-color: var(--liesBackGround);
}

.closeDrawers {
	position: fixed;
	width: calc(var(--staticCornerVW) * 0.375);
	height: calc(var(--staticCornerVW) * 0.375);
	transition: opacity 1.2s;
	visibility: hidden;
	opacity: 0;
}

.topCorner {
	position: fixed;
	top:0%;
	left:0%;
	width:var(--staticCornerVW);
	height:var(--staticCornerVW);
	fill: var(--liesBackGround);
	z-index: 1;
}

.topCorner.codeShow {
	z-index: 3;
}

.codeCloser {
	background-color: var(--codeBackGround);
	top: var(--staticCornerButtonOffset);
	left: var(--staticCornerButtonOffset);
}

.codeCloser.codeShow {
	visibility: visible;
	opacity: 1;
	z-index: 4;
}



.bottomCorner {
	position: fixed;
	right:0%;
	bottom:0%;
	width:var(--staticCornerVW);
	height:var(--staticCornerVW);
	color: var(--codeBackGround);
	z-index: 1;
}

.liesCloser {
	background-color: var(--liesBackGround);
	right: var(--staticCornerButtonOffset);
	bottom: var(--staticCornerButtonOffset);
}

.bottomCorner.liesShow {
		z-index: 3;
}

.liesCloser.liesShow{
	visibility: visible;
	opacity: 1;
	z-index: 4;
}

.linksContainer {
	position: fixed;
	width: 100%;
	padding-left: var(--linksLeftOffset);
	padding-right: var(--linksLeftOffset);
	opacity: 1;
	z-index: 2;
	transition: left 0.5s ease-in, top 0.5s ease-in, width 0.5s ease-in, opacity 0.5s ease-in;
}

.liesLinksContainer {
	color: var(--codeBackGround);
	left:calc(0% - var(--clickedShiftX));
	top:calc(0% - var(--clickedShiftY));
}

.codeLinksContainer {
	color: var(--liesBackGround);
	left:calc(0% + var(--clickedShiftX));
	top: calc(0% + var(--clickedShiftY));
}

.liesLinksContainer.liesShow {
	position: fixed;
	left: 0%;
	top: 0%;
	opacity: 1;
	height: 100%;
}

.codeLinksContainer.codeShow {
	position: fixed;
	/*visibility: visible;*/
	left: 0%;
	top: 0%;
	opacity: 1;
	height: 100%;
}

.linksClass {
	height: 100%;
	margin-top: 2rem;
	width: calc(100% - calc(2 * var(--linksLeftOffset)));
	display: grid;
	grid-template-columns: 17.5% 77.5%;
	grid-template-rows: repeat(auto-fill, auto);
	grid-gap: 2.5rem 4.5%;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	visibility: hidden !important;
}

.liesLinks.liesShow {
	opacity: 1;
}

.codeLinks.codeShow {
	opacity: 1;
}

.liesLinks.visible {
	visibility: visible !important;
}

.codeLinks.visible {
	visibility: visible !important;
}

.fader {
	position: fixed;
	width: 100vw;
	height: calc(1.5 * var(--buttonHeight));
	z-index: -2;
	opacity: 0;
	transition: left 0.5s ease-in, top 0.5s ease-in, opacity 0.5s ease-in;
}

.liesFader {
	top: calc(calc(100% - calc(1.5 * var(--buttonHeight))) - var(--clickedShiftY));
	left: calc(var(--linksLeftOffset) - var(--clickedShiftX));
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,ffffff+100&0+0,1+33,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.codeFader {
	top: calc(0% + var(--clickedShiftY));
	left: calc(var(--linksLeftOffset) + var(--clickedShiftX));
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+66,ffffff+100&1+0,1+66,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.liesFader.liesShow {
	opacity: 1;
	z-index: 3;
	left: var(--linksLeftOffset);
	top: calc(100% - calc(1.5 *var(--buttonHeight)));
}

.codeFaderShow.codeFader {
	opacity: 1;
	z-index: 3;
	left: var(--linksLeftOffset);
	top: 0%;
}

.portImg {
	width: 100%;
	border-radius: 50%;
}

.portWords {
	line-height: 1.6rem;
	font-weight: 300;
	font-family: Lato, sans-serif;
}

h1 {
	font-family: Quicksand, sans-serif;
	font-size: 1.33rem;
	font-weight: 400;
	line-height: 1.6em;
	text-align: center;
}

.liesScroll > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
	width: 13px !important;
}

.liesScroll > .os-scrollbar-vertical {
	position: absolute !important;
	left: 6% !important;
	top: 8% !important;
	bottom: 8% !important;
}

@media (max-aspect-ratio : 1/1) {
	.liesScroll > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
	width: 8px !important;
}

.liesScroll > .os-scrollbar-vertical {
	position: absolute !important;
	left: 1% !important;
}}

.codeScroll > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
	width: 13px !important;
}

.codeScroll > .os-scrollbar-vertical {
	position: absolute !important;
	left: 65% !important;
	top: 18% !important;
	bottom: 8% !important;
}

@media (max-aspect-ratio : 1/1) {.codeScroll > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
	width: 8px !important;
}

.codeScroll > .os-scrollbar-vertical {
	position: absolute !important;
	left: 88% !important;
}
