:root {
	--liesBackGround: white;
	--codeBackGround: black;
	--codeTypeFace: ;
	--liesTypeFace:
;


}

* {
  padding: 0;
  margin: 0;
}

html, body {

	font-size: 3vmax;
}

button {
	width: 12vw;
	height: 12vh;
	font-size: 1.3rem;
	border: none;
	border-radius: 8em;
	top: 44vh;
	text-justify: center;
}

#codeShape {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#liesShape {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}
/*
#parent {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
 }
/*
#mainlink {
	width: 75%;
	display: flex;
	justify-content:space-around;
	font-family: inherit;
}*/

.liesButton {
	background-color: var(--liesBackGround);
	color: var(--codeBackGround);
	font-family: cursive;
	position: fixed;
	left: 29%;
}

.liesButton:hover {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
}


.codeButton {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
	font-family: 'Geo', monospace;
	position: fixed;
	left: 59%;
}

.codeButton:hover {
	color: var(--codeBackGround);
	background-color: var(--liesBackGround);
}

#topSpace {
	position: fixed;
	top: 3vh;
	color: blue;
}

@keyframes becomeHeader {
	0% {
		position: fixed;
		top: 44vh;
	}




	100% {
		position: fixed;
		top: 3vh;
	}
}


/*#liesDiv {
	background-color: var(--liesBackGround);
	color: var(--codeBackGround);
	padding: 0.05em 0.4em 0em 0.4em;
	width: 5rem;
	border-radius: 8em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Handlee', cursive;
	font-size: 1rem;

}

#liesDiv:hover {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
}
*/
/*
#codeDiv {
	background-color: var(--codeBackGround);
	color: var(--liesBackGround);
	/*padding: 0.05em 0.4em 0em 0.4em;
	width: 5rem;
	border-radius: 8em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8em;
	font-size: 2.3em;
	font-family: 'Geo', sans-serif;

}

#codeDiv:hover {
	color: var(--codeBackGround);
	background-color: var(--liesBackGround);
}
*/
